In [11]:
import requests
import pandas as pd

In [12]:
url = f'http://universities.hipolabs.com/search?country=United%20States'
response = requests.get(url)
universities_data = response.json()

In [13]:
# Convert to DataFrame
df = pd.DataFrame(universities_data)
df

,alpha_two_code,domains,country,name,state-province,web_pages
0,US,[marywood.edu],United States,Marywood University,None,[http://www.marywood.edu]
1,US,[lindenwood.edu],United States,Lindenwood University,None,[http://www.lindenwood.edu/]
2,US,[sullivan.edu],United States,Sullivan University,None,[https://sullivan.edu/]
3,US,[fscj.edu],United States,Florida State College at Jacksonville,None,[https://www.fscj.edu/]
4,US,[xavier.edu],United States,Xavier University,None,[https://www.xavier.edu/]
...,...,...,...,...,...,...
2333,US,[southflorida.edu],United States,South Florida State College,Florida,[https://www.southflorida.edu/]
2334,US,[alvernia.edu],United States,Alvernia University,Pennsylvania,[https://www.alvernia.edu/]
2335,US,[hauniv.edu],United States,Hellenic American University,None,[https://www.hauniv.edu/]
2336,US,[uhcno.edu],United States,University of Holy Cross,None,[https://uhcno.edu/]
2337,US,[upike.edu],United States,University of Pikeville,None,[https://www.upike.edu/]

In [14]:
# Filter out rows where 'state-province' is missing
df = df[df['state-province'].notna()]
df

,alpha_two_code,domains,country,name,state-province,web_pages
14,US,"[upmc.edu, upmc.com]",United States,University of Pittsburgh Medical Center,Pennsylvania,[https://www.upmc.com/]
16,US,[utrgv.edu],United States,The University of Texas at Rio Grande Valley,Texas,[https://www.utrgv.edu/]
39,US,[uvu.edu],United States,Utah Valley University,Utah,[https://uvu.edu/]
44,US,[floridapoly.edu],United States,Florida Polytechnic University,Florida,[https://floridapoly.edu/]
99,US,[csn.edu],United States,College of Southern Nevada,NV,[https://www.csn.edu/]
...,...,...,...,...,...,...
2303,US,[westminsteru.edu],United States,Westminster University,"Salt Lake City, Utah",[https://westminsteru.edu/]
2304,US,[dom.edu],United States,Dominican University,Illinois,[https://www.dom.edu/]
2332,US,[stmarytx.edu],United States,St. Mary's University,Texas,[https://www.stmarytx.edu/]
2333,US,[southflorida.edu],United States,South Florida State College,Florida,[https://www.southflorida.edu/]
2334,US,[alvernia.edu],United States,Alvernia University,Pennsylvania,[https://www.alvernia.edu/]

In [15]:
# Select relevant columns
df = df[['name', 'web_pages', 'country', 'domains', 'state-province']]
df

,name,web_pages,country,domains,state-province
14,University of Pittsburgh Medical Center,[https://www.upmc.com/],United States,"[upmc.edu, upmc.com]",Pennsylvania
16,The University of Texas at Rio Grande Valley,[https://www.utrgv.edu/],United States,[utrgv.edu],Texas
39,Utah Valley University,[https://uvu.edu/],United States,[uvu.edu],Utah
44,Florida Polytechnic University,[https://floridapoly.edu/],United States,[floridapoly.edu],Florida
99,College of Southern Nevada,[https://www.csn.edu/],United States,[csn.edu],NV
...,...,...,...,...,...
2303,Westminster University,[https://westminsteru.edu/],United States,[westminsteru.edu],"Salt Lake City, Utah"
2304,Dominican University,[https://www.dom.edu/],United States,[dom.edu],Illinois
2332,St. Mary's University,[https://www.stmarytx.edu/],United States,[stmarytx.edu],Texas
2333,South Florida State College,[https://www.southflorida.edu/],United States,[southflorida.edu],Florida
2334,Alvernia University,[https://www.alvernia.edu/],United States,[alvernia.edu],Pennsylvania